* {
  padding: 0;
  margin: 0;
}

.navig {
  margin: 1% 15%;
  background-color: white;
}

.NavItems {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.user_login {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 150px;
}

.user_login img {
  width: 40px;
  height: 40px;
  margin-right: 10%;
}

.user_login p {
  padding-top: 10%;
}

#dropdown-button-dark-example1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #343a40;
  border: none;
}

.logo img {
  width: 100px;
}

.nav__inner {
  color: black;
  font-weight: 500;
  font-size: large;
}

.nav__button {
  margin: 5% 0;
}

.nav_link {
  color: white;
  text-decoration: none;
}

.nav_link:hover {
  color: white;
}

.content {
  padding: 0 15%;
}

.slider {
  height: 20%;
}

.form {
  padding: 2% 10%;
  border: 2px solid black;
  border-radius: 25px;
}

#checkbox {
  display: flex;
  align-items: center;
}

.Checkedbtn {
  background-color: #0d6efd;
  border: none;
  border-radius: 10px;
  padding: 2% 5%;
  color: #f0ffff;
}

.Checkedbtn[disabled] {
  cursor: not-allowed !important;
}

.Checkedbtn:hover {
  cursor: pointer !important;
  background-color: #0b5ed7;
}

.sendForm {
  margin: auto;
  text-align: center;
}

.sendForm img {
  width: 100px;
}

.alert {
  text-align: center;
  width: 40%;
}

.alert_btn {
  margin: auto;
}

.list_table {
  text-align: center;
  border: 1px solid black;
  margin: auto;
}

.list_table th, .td {
  border: 1px solid black;
  padding: 2px 10px;
}

.carousel_item img{
  height: 580px;
}

.carousel_text h3 {
  color: red;
}

.carousel_text p {
  color: #0b5ed7;
}

.label_background {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 60%;
  margin: auto;
}

.footer {
  margin: 1% 15%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .social img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer_inner {
  width: 33%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}

.sign_in {
  margin-top: 170px;
  margin-bottom: 170px;
}

.sucess_page {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_top {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.profile img {
  width: 123px;
  height: 123px;
}

.profile_picture img {
  margin-left: auto;
  padding: 0;
}

.profile_main {
  background-color: gainsboro;
  width: 30%;
  padding: 5% 10%;
  border-radius: 25px;
}

.profile_nickName {
  text-align: center;
}

.nickName {
  font-weight: 600;
}

.profile_second {
  background-color: gainsboro;
  width: 65%;
  padding: 5% 10%;
  border-radius: 25px;
}

.profile_bottom {
  background-color: gainsboro;
  width: 100%;
  padding: 5% 10%;
  margin: 5% 0;
  border-radius: 25px;
}